# Node.js
node_modules/
dist/
build/
.env
.env.*         # e.g., .env.dev, .env.prod

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest coverage
coverage/

# VS Code settings
.vscode/

# Docker
docker-compose.override.yml
*.local.yml

# System
.DS_Store
Thumbs.db

# React
frontend/.next/
frontend/build/
frontend/node_modules/

# NestJS
backend/node_modules/
backend/dist/

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Ansible
infra/ansible/.cache/
infra/ansible/*.retry

# CI/CD
ci-cd/github-actions/node_modules/
ci-cd/jenkins/workspace/

# Logs & monitoring
monitoring/logs/

# Ignore temp files and OS metadata
*.swp
*.swo
*.bak
*.tmp
